<!doctype html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<body>
<head>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="../js/unload.js"></script>
    <script type="text/javascript" src="js/unload.js"></script>
    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>zFanVideo | Free Video Html5 Templates</title>
    <meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
    <meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../css/zerogrid.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/demo.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style1.css">
    <link rel="stylesheet" href="../css/style_top.css">
    <!-- Owl Carousel Assets -->
    <link href="../css/owl.carousel.css" rel="stylesheet">
    <link href="../css/owl.theme.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

  <div class="wrap-body">

    <!--////////////////////////////////////Header-->
    <header>

        <div  id="headerwrap" style="background:url(../images/4.jpg);background-size:100% 100%; "  >
            <div class="container" >
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">

                        <h1 font style="font-family:Brush Script Std">V B L O G</font><br />
                        </h1>
                        <h4 font style="font-family:Hobo Std">LOVE AND SHARE</font><br />
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="zerogrid">

            </div>
        </div>
    </header>
      </div>

    <div id="wraper" background="#fffffff">
        <div class="wrap-body">

            <!--////////////////////////////////////Header-->
            <!--////////////////////////////////////Menu-->
            <a href="#" class="nav-toggle">Toggle Navigation</a>
            <nav class="cmn-tile-nav">
                <ul class="clearfix">
                    <li class="colour-1"><a href="gallery.html#here">科技</a></li>
                    <li class="colour-2"><a href="gallery.html#here">生活</a></li>
                    <li class="colour-3"><a href="gallery.html#here">教育</a></li>
                    <li class="colour-4"><a href="gallery.html#here">动漫</a></li>
                    <li class="colour-5"><a href="gallery.html#here">体育</a></li>
                    <li class="colour-6"><a href="gallery.html#here">新闻</a></li>
                    <li class="colour-7"><a href="gallery.html#here">音乐</a></li>
                    <li class="colour-8"><a href="gallery.html#here">舞蹈</a></li>
                </ul>
            </nav>
        </div>

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>上传视频</title>
            <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
            <link rel="stylesheet" type="text/css" href="../css/default.css" />
            <link rel="stylesheet" type="text/css" href="../css/component.css" />
            <!-- remove this if you use Modernizr -->
        </head>
        <div>

            <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel-heading" align="center"><h1 class="sub-header h3">视频上传</h1></div>
                           <hr>
                        <form class="form-horizontal" id="upload" method="post" action="../upload" enctype="multipart/form-data">
                            <div class="form-group" align="center">
                                <div class="col-md-4 col-sm-4  col-xs-4 col-lg-4">
                                   文件上传 <input type="file" class="form-control" name="file" id="file">
                                <br>
                                   <input type="submit" value="上传">
                                </div>
                            </div>
                          </form>

            </div>
                    </div>
        </div>
</div>
<style type="text/css">
    body
    {
        font-family:Arial, Sans-Serif;
        font-size:0.85em;
    }
    img
    {
        border:none;
    }
    ul, ul li
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li.first
    {
        border-top: 1px solid #DFDFDF;
    }
    ul li.last
    {
        border: none;
    }
    ul p
    {
        float: left;
        margin: 0;
        width: 310px;
    }
    ul h3
    {
        float: left;
        font-size: 14px;
        font-weight: bold;
        margin: 5px 0 0 0;
        width: 200px;
        margin-left:20px;
    }
    ul li
    {
        border-bottom: 1px solid #DFDFDF;
        padding: 15px 0;
        width:600px;
        overflow:hidden;
    }
    ul input[type="text"], ul input[type="password"]
    {
        width:300px;
        padding:5px;
        position:relative;
        border:solid 1px #666;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }
    ul input.required
    {
        border: solid 1px #f00;
    }
</style>
<script src="../js/jquery.min.js" type="text/javascript"></script>
</head>
<center>
    <br /><br />
    <h2>信息填写</h2>
    <ul>
        <li class="first">
            <h3> 视频名字</h3>
            <p>
                <input type="text"  id="video_name" name="name" /></p>
        </li>
        <li>
            <h3>类型</h3>
            <p>
                <select id="type" style="float: left;">
                    <option value="选择视频类型" disabled selected hidden>       选择视频类型         </option>
                    <option value="科技">科技</option>
                    <option value="生活">生活</option>
                    <option value="教育">教育</option>
                    <option value="动漫">动漫</option>
                    <option value="体育">英文</option>
                    <option value="音乐">音乐</option>
                    <option value="舞蹈">舞蹈</option>
                </select></p>
        </li>
        <li>
            <h3>描述</h3>
            <p>
                <textarea id="lable"></textarea></p>
        </li>
        <li class="last" id="sure">
            <button>确定</button>
        </li>
    </ul></center>
</body>
</html>